.square {
    border: 1px solid black;
    height: 100%;
}

.grid-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid {
    width: 960px;
    height: 960px;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}